# PostgreSQL Configuration
POSTGRES_DB=cuebot_local
POSTGRES_USER=cuebot
POSTGRES_PASSWORD=changeme

# Cuebot Configuration
CUEBOT_DB_HOST=postgres

# Port Configuration
CUEBOT_HTTP_PORT=8080
CUEBOT_HTTPS_PORT=8443
POSTGRES_PORT=5432 